@use 'variables' as *;
@use 'reset' as *;

body
{
    margin: 0;
    height: 500vh;
    color: $color5;
}
header
{
    background: url("../assets/img/bg_header.jpg") center/cover fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
header h1
{
    position: absolute;
    font-size: 50px;
    text-align: center;
    line-height: 150%;
    padding: 20px;
}
header a
{
    display: block;
    position: absolute;
    bottom: 15%;
    color: inherit;
    background-color: $color4;
    text-decoration: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 0 30px white;
    transition-duration: .7s;
}
header a:hover
{
    background-color: $color3;
}
header::after
{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.326);
    
}